# Core ML stack
torch==2.7.1
torchvision==0.22.1
numpy>=1.23,<1.27
scipy

# HuggingFace / Transformers
transformers==4.57.3
tokenizers==0.22.1
datasets==3.6.0
safetensors
unsloth==2026.1.2
unsloth_zoo==2026.1.2
#flash_attn==2.8.3

# Vision / Image / Robotics
einops==0.8.1
Pillow==12.0.0
opencv-python==4.11.0.86
gym==0.26.2
mujoco==3.4.0
mujoco-py==2.1.2.14
robosuite==1.4.0
robomimic==0.2.0
lerobot==0.3.3


# Logging / Config
tensorboard==2.20.0
tensorboardX==2.6.4
omegaconf==2.3.0
yacs==0.1.8
tqdm
wandb==0.21.4

# YAML / Utilities
pyyaml
